Problem Set 2

Question 1
After importing the module into the interpreter.
What value is displayed when the last expression (a) is evaluated? 
Explain your answer by indicating what happens in every executed statement.

In [1]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

b()  # When b is called global var a (which is 0) is passed to c where 2 is added to a. Now a=2
b()  # When b is called again global var a (which is 2) is passed to c where 2 is added to a. Now a=4
b()  # When b is called global var a (which is 4) is passed to c where 2 is added to a. Now a=6
a    # value of global variable a is printed, 6.

6

Question 2 Function fileLength(), given to you, takes the name of a file as input and returns the length of the file.
If the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. 
Modify function fileLength() so that a friendly message is printed instead:

In [206]:
def fileLength(file_name):
    try:
     file = open(file_name)
    except FileNotFoundError:
     print("File {} not found".format(file_name)) 
    else:
     contents = file.read()
     file.close()
     print(len(contents))

    
fileLength('idterm.py')

File idterm.py not found

Question 3 Write a class named Marsupial.
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis 
and by dy units along the y-axis, and
c. overloads the __str__ operator.

In [6]:
class Marsupial:
    def __init__(self):
        self.p=[]
    def put_in_pouch(self, contents):
        self.p.append(contents)
    def pouch_contents(self):
        print(self.p)

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [7]:
class Kangaroo(Marsupial):
    def __init__(self, xc=0, yc=0):
        self.x=xc
        self.y=yc
        self.p=[]
    def __str__(self):
        a="I am a Kangaroo located at coordinates ("
        b=str(self.x)
        c=str(self.y)
        d=a+b+","+c+")."
        return d
    def jump(self, x1, y1):
        self.x=self.x+x1
        self.y=self.y+y1

        
k= Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0).
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0).

Question 4 
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x.
A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛3𝑥+1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1.
Your implementation must be recursive, without any loops.

In [209]:
def collatz(n):
    if n==1:
        print(n)
    else:
        print(n)
        if n%2==0:
            collatz(n/2)
        else:
            collatz((3*n)+1)
        
collatz(1)     
print("  ")
collatz(10)

1

10
5.0
16.0
8.0
4.0
2.0
1.0

Question 5 Write a recursive method binary() that takes a non-negative integer n 
and prints the binary representation of integer n.

In [210]:
def binary (n):
    if n>=2:
        binary(n//2)
        print(n%2, end='')
    else:
        print(n, end='')    

binary(0)
print(" ")
binary(1)
print(" ")
binary(3)
print(" ")
binary(9)

0
1
11
1001

Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, 
and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, 
defined in Standard Library module html.parser. When fed a string containing HTML code, 
your class should print the headings, one per line and in the order in which they appear in the document. 
Each heading should be indented

In [246]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    Heading1 = False
    Heading2 = False
    def handle_starttag(self, tag, attrs):
        if tag == "h1":
            self.Heading1 = True
        if tag =="h2":
            self.Heading2 = True
    def handle_data(self, data):
        if self.Heading1:
            print(data)
        if self.Heading2:
            print(" "+data)
    def handle_endtag(self, tag):
        if tag =="h1":
            self.Heading1 = False
        if tag =="h2":
            self.Heading2 = False
infile= open ('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

Question 8
Write SQL queries on the below database table that return:

import sqlite3
conn= sqlite3.connect('web.db')
cur= con.cursor()
cur.execute("CREATE TABLE CITY_Details(City text, Country text, Season text, Teamperature float, Rainfall float)")
cur.execute("INSERT INTO CITY_Details (City, Country, Season, Teamperature, Rainfall) VALUES('Mumbai','India','Winter',24.8,5.9)")
cur.execute("INSERT INTO CITY_Details (City, Country, Season, Teamperature, Rainfall) VALUES('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO CITY_Details (City, Country, Season, Teamperature, Rainfall) VALUES('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO CITY_Details (City, Country, Season, Teamperature, Rainfall) VALUES('Mumbai','India','Fall',27.6,346.0)")
cur.execute("INSERT INTO CITY_Details (City, Country, Season, Teamperature, Rainfall) VALUES('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO CITY_Details (City, Country, Season, Teamperature, Rainfall) VALUES('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO CITY_Details (City, Country, Season, Teamperature, Rainfall) VALUES('London','United Kingdom','Summer',15.7,157.0)")
cur.execute("INSERT INTO CITY_Details (City, Country, Season, Teamperature, Rainfall) VALUES('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO CITY_Details (City, Country, Season, Teamperature, Rainfall) VALUES('Cairo','Egypt','Winter',13.6,16.5)")
cur.execute("INSERT INTO CITY_Details (City, Country, Season, Teamperature, Rainfall) VALUES('Cairo','Egypt','Spring',20.7,6.5)")
cur.execute("INSERT INTO CITY_Details (City, Country, Season, Teamperature, Rainfall) VALUES('Cairo','Egypt','Summer',27.7,0.1)")
cur.execute("INSERT INTO CITY_Details (City, Country, Season, Teamperature, Rainfall) VALUES('Cairo','Egypt','Fall',22.2,4.5)")
conn.commit()

a) All the temperature data.

In [211]:
cursor = cur.execute("select Teamperature from CITY_Details")
for row in cursor:
   print ("Teamperature = ", row[0], "\n")

Teamperature =  24.8

Teamperature =  28.4

Teamperature =  27.9

Teamperature =  27.6

Teamperature =  4.2

Teamperature =  8.3

Teamperature =  15.7

Teamperature =  10.4

Teamperature =  13.6

Teamperature =  20.7

Teamperature =  27.7

Teamperature =  22.2

b) All the cities, but without repetition.

In [212]:
cursor = cur.execute("select distinct city from CITY_Details")
for row in cursor:
   print ("City = ", row[0], "\n")

City =  Mumbai

City =  London

City =  Cairo

c) All the records for India.

In [213]:
cursor = cur.execute("SELECT City, Country, Season, Teamperature, Rainfall from CITY_Details where Country='India'")
for row in cursor:
   print ("City = ", row[0])
   print ("Country = ", row[1])
   print ("Season = ", row[2])
   print ("Teamperature = ", row[3])
   print ("Rainfall = ", row[4], "\n")

City =  Mumbai
Country =  India
Season =  Winter
Teamperature =  24.8
Rainfall =  5.9

City =  Mumbai
Country =  India
Season =  Spring
Teamperature =  28.4
Rainfall =  16.2

City =  Mumbai
Country =  India
Season =  Summer
Teamperature =  27.9
Rainfall =  1549.4

City =  Mumbai
Country =  India
Season =  Fall
Teamperature =  27.6
Rainfall =  346.0

d) All the Fall records.

In [214]:
cursor = cur.execute("SELECT City, Country, Season, Teamperature, Rainfall from CITY_Details where Season='Fall'")
for row in cursor:
   print ("City = ", row[0])
   print ("Country = ", row[1])
   print ("Season = ", row[2])
   print ("Teamperature = ", row[3])
   print ("Rainfall = ", row[4], "\n")

City =  Mumbai
Country =  India
Season =  Fall
Teamperature =  27.6
Rainfall =  346.0

City =  London
Country =  United Kingdom
Season =  Fall
Teamperature =  10.4
Rainfall =  218.5

City =  Cairo
Country =  Egypt
Season =  Fall
Teamperature =  22.2
Rainfall =  4.5

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [215]:
cursor = cur.execute("SELECT City, Country, Season from CITY_Details where Rainfall between 200 and 400")
for row in cursor:
   print ("City = ", row[0])
   print ("Country = ", row[1])
   print ("Season = ", row[2], "\n")

City =  Mumbai
Country =  India
Season =  Fall

City =  London
Country =  United Kingdom
Season =  Winter

City =  London
Country =  United Kingdom
Season =  Fall

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [216]:
cursor = cur.execute("SELECT City, Country from CITY_Details where Season='Fall' and Teamperature>20 order by Teamperature desc")
for row in cursor:
   print ("City = ", row[0])
   print ("Country = ", row[1], "\n")

City =  Mumbai
Country =  India

City =  Cairo
Country =  Egypt

g) The total annual rainfall for Cairo.

In [217]:
cursor = cur.execute("SELECT Sum(Rainfall) from CITY_Details where City='Cairo'")
for row in cursor:
   print ("Total Rainfall = ", row[0])

Total Rainfall =  27.6

h) The total rainfall for each season.

In [218]:
cursor = cur.execute("SELECT Sum(Rainfall), Season from CITY_Details group by season")
for row in cursor:
   print ("Total Rainfall = ", row[0])
   print ("Season = ", row[1], "\n")

Total Rainfall =  569.0
Season =  Fall

Total Rainfall =  192.29999999999998
Season =  Spring

Total Rainfall =  1706.5
Season =  Summer

Total Rainfall =  230.1
Season =  Winter

Question 9
Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
e) ['quick', 'brown', 'jumps', 'over', 'lazy'] (the list of words in list words containing 4 or more characters.)

In [3]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
output=[]
for each_word in words: 
    output.append(each_word.upper())
print(output)
output1=[]
for each_word in words: 
    output1.append(each_word.lower())
print(output1)
output2=[]
for each_word in words: 
    output2.append(len(each_word))
print(output2)
output4=[]
for each_word in words:
    for i in range (1):
        output4.append(each_word.upper())
    for j in range (1):
        output4.append(each_word.lower())
    for k in range (1):
        output4.append(len(each_word))
print(output4)
output3=[]
for each_word in words:
    if len(each_word)>3:
        output3.append(each_word)
print(output3)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
['THE', 'the', 3, 'QUICK', 'quick', 5, 'BROWN', 'brown', 5, 'FOX', 'fox', 3, 'JUMPS', 'jumps', 5, 'OVER', 'over', 4, 'THE', 'the', 3, 'LAZY', 'lazy', 4, 'DOG', 'dog', 3]
['quick', 'brown', 'jumps', 'over', 'lazy']